<html>
  <head></head>
  <body>
    <form>
	  <p>Words to Encrypt</p>
	  <input type = "text" name = "uncoded" placeholder = "Words">
	  <br />
	  <p>Encryption Key</p>
	  <input type = "number" name = "key" value = "5">
	  <br />
	  <input type = "submit" value = "Encrypt">
	</form>
	<p><%= encrypted_str %></p>
  </body>
</html>